$red: #d70018;
$white: #ffffff;
$white-opacity: #fafafa;
$black: #000000;
$title-color: #222;
$text-color: #444;
$menu: #343a40;
$gray-opacity: #f8f8f8;
$hover: #eee;
$border: #ddd;
$background: #F5F8FD;
$c666: #666;
$c707070: #707070;

$baseFont: $primaryFont;

//$boxShadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
