{
    "arrowParens": "avoid",
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 200,
    "useTabs": false,
    "singleQuote": false,
    "bracketSpacing" : true,
    "bracketSameLine" : true
}
