.product-wrapper {
    .product__info {
        display: flex;
        width: 100%;
        max-width: 100%;
        background-color: $white;
        padding: 15px;
        border-radius: 2px;

        &__left {
            width: 100%;
            max-width: 40%;
            flex: 0 40%;
            overflow: hidden;
            margin-right: 25px;

            .ps__container__thumb {
                margin-top: 20px;

                &__item {
                    cursor: pointer;

                    .thumb-img{
                        padding: 5px;
                        border: solid 2px $border;
                        transition: border-color linear 0.3s;
                    }

                    &:hover {
                        .thumb-img{
                            border-color: $red;
                            transition: border-color linear 0.3s;
                        }
                    }
                }

                .swiper-slide-thumb-active{
                    .thumb-img{
                        border-color: $red;
                        transition: border-color linear 0.3s;
                    }
                }
            }

            .ps__container__button {
                width: 30px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                color: #707070;
                top: 45%;
                transition: 0.3s;
                outline: none;
                opacity: 0.9;

                &:after {
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .swiper-button-next {
                padding-left: 7px;
                border-radius: 100px 0 0 100px;
                right: 0;
            }

            .swiper-button-prev {
                padding-right: 7px;
                border-radius: 0 100px 100px 0;
                left: 0;
            }

            .swiper-button-disabled {
                opacity: 0;
            }
        }

        &__right {
            width: 100%;
            max-width: 60%;
            flex: 0 60%;
            overflow: hidden;

            .info {
                &__title {
                    font-size: 25px;
                    color: $text-color;
                    font-weight: normal;
                    margin-bottom: 20px;
                }

                &__rate {
                    margin-bottom: 20px;
                    ul.rate {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        li {
                            border-right: solid 2px $border;
                            padding-right: 15px;
                            margin-left: 15px;
                            display: flex;
                            align-items: center;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                border: none;
                            }

                            span {
                                display: block;
                            }

                            .number-text {
                                font-weight: 500;
                                color: red;
                                margin-right: 10px;
                                text-decoration: underline;
                            }

                            .text {
                                color: $text-color;
                            }
                        }
                        .start {
                            display: flex;
                            align-items: center;
                            svg,
                            i {
                                font-size: 14px;
                                transform: translateY(-1px);
                            }
                            .checked {
                                color: orange;
                            }
                        }
                    }
                }

                &__description {
                    margin-bottom: 20px;
                    p {
                        margin: 0;
                        text-align: justify;
                    }
                }

                &__price {
                    margin-bottom: 20px;
                    .price {
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        background-color: $white-opacity;

                        li {
                            span {
                                display: block;
                                line-height: 1;
                            }
                        }

                        .price {
                            font-size: 20px;
                            span {
                                font-weight: 500;
                                color: red;
                            }
                        }
                        .old-price {
                            font-size: 14px;
                            color: $text-color;
                            span {
                                text-decoration: line-through;
                            }
                        }
                    }
                }

                .product-attr {
                    margin-bottom: 20px;
                    width: 100%;
                    max-width: 50%;
                    display: flex;
                    flex-direction: column;

                    label {
                        color: $text-color;
                    }
                }

                .quantity {
                    .quantity-control {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .input {
                            margin: 0 0.25em 0 0;
                            flex: 1;
                        }

                        .plus {
                            margin: 0;
                        }
                    }
                }
                .product-action {
                    display: flex;
                    align-items: center;

                    .button {
                        .content {
                            font-family: $primaryFont;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
