.header-wrapper {
    .ant-btn-link {
        color: $--white !important;
    }

    a {
        color: $--white !important;
    }

    .bottom-header {
        padding: 10px 0;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        background-color: $--white;
        width: 100%;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
        box-sizing: border-box;
        padding: .1875rem;
        height: 2.5rem;
        border-radius: 2px;

        input{
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            font-size: .875rem;
            color: $--text;
            align-items: center;
            outline: none;
            border: 0;
            padding: 0;
            margin: 0;
            display: flex;
            padding: 0 .625rem;
            height: 100%;
            line-height: normal;
        }

        .button-search{
            display: flex;
            height: 100%;
            color: $--white;
            background-color: $--primary-color;
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            box-sizing: border-box;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
            border-radius: 2px;
            justify-content: center;
            text-transform: capitalize;
            outline: 0;
            cursor: pointer;
            padding: 0 15px;
            min-width: 60px;
            max-width: 190px;
            align-items: center;
        }
    }
}
