.home-wrapper {
    .home-slide {
        background: $--white;
        padding: 20px 0;
    }
    .slick-slider {
        position: relative;

        .slick-prev {
            z-index: 1;
            left: 15px !important;
        }

        .slick-next {
            right: 15px !important;
            z-index: 1;
        }

        .slick-dots {
            bottom: 15px !important;
            li {
                width: 10px;
                height: 10px;

                button:before {
                    font-size: 10px;
                }
            }
            li.slick-active {
                button:before {
                    color: $--primary-color;
                }
            }
        }
    }

    .banner-image {
        margin-left: 6px;
        a {
            &:last-child {
                margin-top: 3.5px;
            }
        }
    }

    .product-categories {
        margin-top: 20px;
        .categories-content {
            background: $--white;

            .slick-slider {
                position: relative;

                .slick-prev {
                    z-index: 1;
                    left: -10px !important;
                    &:before{
                        color: $--primary-color;
                    }

                }

                .slick-next {
                    right: -10px !important;
                    z-index: 1;
                    &:before{
                        color: $--primary-color;
                    }
                }
            }
        }
        .category-item {
            a {
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                padding: 5px;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    display: block;
                    text-align: center;
                }
                .image{
                    img{
                        max-width: 80%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .name{
                    margin-top: 7px;
                    font-size: 14px;
                    text-transform: capitalize;
                }

                &:hover{
                    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
                    border-color: rgba(0,0,0,.12);
                }
            }
        }
    }
}
