.product-detail-wrapper{
    background-color: $--background-color;

    .page-breadcrumb{
        padding: 15px 0;
    }

    .product-info{
        padding: 0;
        margin-top: 1.25rem;

        .info-content{
            background: $--white;

            .product-imgs{
                padding: 15px;
                box-sizing: border-box;
                width: 100%;

                .product-imgs-content{
                    display: flex;
                    flex-direction: column;

                    .relative-background{
                        position: relative;

                        .background-img{
                            width: 100%;
                            padding-top: 100%;
                            background-position: 50%;
                            background-size: contain;
                            background-repeat: no-repeat;
                            opacity: 1;
                            transition: opacity .2s ease;
                        }
                    }

                    .product-imgs-thumb{
                        margin: 5px -5px;
                        position: relative;

                        .slick-slider {
                            position: relative;

                            .slick-prev {
                                z-index: 1;
                                left: 5px !important;
                            }

                            .slick-next {
                                right: 5px !important;
                                z-index: 1;
                            }

                            .slick-dots {
                                bottom: 15px !important;

                                li {
                                    width: 10px;
                                    height: 10px;

                                    button:before {
                                        font-size: 10px;
                                    }
                                }

                                li.slick-active {
                                    button:before {
                                        color: $--primary-color;
                                    }
                                }
                            }
                        }

                        .product-thumb{
                            display: inline-block;
                            padding: 5px;
                            box-sizing: border-box;
                            width: 20%;
                            .product-thumb-content{
                                position: relative;

                                .product-thumb-background{
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    width: 100%;
                                    padding-top: 100%;
                                    background-position: 50%;
                                    opacity: 1;
                                    transition: opacity .2s ease;
                                }
                            }
                        }
                    }
                }
            }

            .info-box{
                box-sizing: border-box;
                width: 100%;
                padding: 1.25rem 2.1875rem 0 1.25rem;
            }
        }
    }
}
