.category__box {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray-opacity;
        padding: 10px;

        &--content {
            display: inline-flex;
            align-items: center;

            h3 {
                margin: 0;
                font-weight: 700;
                color: $black;
                text-transform: uppercase;
            }
        }

        &--tags {
            .tags {
                padding: 0;
                margin: 0;
                display: inline-flex;
                align-items: center;

                &__item {
                    padding: 5px 15px;
                    background-color: $white;
                    border: 0;
                    border-radius: 15px;
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
                    margin-right: 10px;

                    &:last-child {
                        margin: 0;
                    }

                    &__href {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        cursor: pointer;

                        span {
                            display: block;
                            line-height: 1.5;
                            color: $c666;
                        }
                    }
                }
            }
        }
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-color: $white;
        padding: 15px 10px;
    }

    &__item{
        padding: 10px;
        background-color: transparent;
        a{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            .image{
                overflow: hidden;
                background-color: $gray-opacity;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                img{
                    transition: all linear .3s;
                    object-fit: cover;
                    object-position: center;
                }

                &:hover{
                    background-color: $hover;
                    img{
                        transform: scale(1.04);
                        transition: all linear .3s;
                    }
                }
            }
            .text{
                font-weight: 700;
                margin-top: 10px;
                text-align: center;
                color: $text-color;
            }
        }
    }
}
